#v0 {
  position: fixed;
  width: 100%;
  top: 0;
}

.wtn {
  .splash {
    min-height: 100vh;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media screen and (max-width: $breakpoint) {
      border-bottom: none;
      grid-template-columns: 1fr;
      padding: 15px;
      padding-top: 57px;
    }
    .sawmill-bladee {
      background-image: asset_url("sawmill-bladee.svg");
      width: 19vw;
      height: 300px;
      position: absolute;
      background-repeat: no-repeat;
      top: 300px;
      right: 63.5vw;
      z-index: -1;
      background-size: contain;
    }
    .star {
      background-image: asset_url("star.svg");
      width: 19vw;
      height: 150px;
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      top: 380px;
      left: 74vw;
    }
    p {
      font-family: Surt Light;
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: -0.01em;
      color: $black;
      max-width: 230px;
      @media screen and (max-width: $breakpoint) {
        font-size: 18px;
        line-height: 22px;
      }
      &.right {
        text-align: right;
        padding: 0;
        margin: 0;
        margin-top: 90px;
        margin-left: auto;
      }
    }
    h1 {
      font-family: "Reckless Neue Light";
      max-width: 690px;
      font-weight: 300;
      font-size: 53px;
      line-height: 63.6px;
      letter-spacing: -0.03em;
      margin: 0;
      color: $black;
      @media screen and (max-width: $breakpoint) {
        margin-top: 10px;
        font-size: 33px;
        line-height: 43.6px;
        letter-spacing: -0.03em;
      }
    }

    .arch {
      overflow: hidden;
      height: 35vw;
      width: 70vw;
      left: 14.5vw;
      border-top-left-radius: 1000000px;
      border-top-right-radius: 1000000px;
      position: absolute;
      z-index: -1;
      background: transparent;
      top: 200px;
      iframe {
        position: absolute;
        left: -10%;
      }
    }
  }
  .main {
    padding-left: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint) {
      grid-template-columns: 1fr;
      padding: 15px;
      padding-top: 57px;
    }
    .left {
      max-width: 575px;
      @media screen and (max-width: $breakpoint) {
        padding: 0px;
        max-width: none;
      }
      .img-sm-container {
        position: relative;
        .image {
          border-top-left-radius: 10000px;
          border-top-right-radius: 10000px;
          max-width: 250px;
          height: 350px;
          margin: auto;
          margin-top: 25px;
          margin-bottom: 30px;
          background-position: center;
          background-size: contain;
        }
        @media screen and (max-width: $breakpoint) {
          display: block;
        }
        display: none;
      }
      p {
        font-family: Surt Light;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: -0.01em;
        @media screen and (max-width: $breakpoint) {
          font-size: 18px;
          line-height: 22px;
        }
      }
      a {
        font-family: Surt Light;
        text-decoration: none;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 33px;
        padding: 15px;
        padding-left: 0px;
        display: flex;
        color: $black;
        &:hover {
          padding-left: 30px;
        }
        @media screen and (max-width: $breakpoint) {
          font-size: 18px;
          line-height: 33px;
          padding: 9px;
          padding-left: 0px;
          &:hover {
            padding-left: 15px;
          }
        }
        .arrow {
          content: "";
          display: block;
          background-image: asset_url("arrow-big.svg");
          background-size: contain;
          cursor: pointer;
          width: 60px;
          height: 33px;
          margin-bottom: 0;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          margin-left: 10px;
          @media screen and (max-width: $breakpoint) {
            background-image: asset_url("arrow-small.svg");
            background-position: center;
            width: 33px;
            height: 33px;
          }
        }
      }
    }
    .right {
      padding-left: 30px;
      padding-right: 30px;
      .image {
        max-width: 426px;
        height: 600px;
        margin-left: auto;
        margin-top: 30px;
        background-image: url("W2N_2022_poster_site.jpeg");
        background-size: contain;
        background-repeat: no-repeat;
      }
      @media screen and (max-width: $breakpoint) {
        display: none;
      }
    }
  }
  .lineup {
    padding-left: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint) {
      grid-template-columns: 1fr;
      padding: 15px;
      padding-top: 57px;
    }
    p {
      font-family: Surt Light;
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: -0.01em;
      @media screen and (max-width: $breakpoint) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .faqs {
    padding: 30px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    .top {
      cursor: pointer;
      border-bottom: 2px solid $black;
      @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: flex-end;
        padding-right: 45px;
        p {
          padding: 10px;
          margin: 0;
        }
      }
      @media screen and (max-width: $breakpoint) {
        padding: 15px 0;
      }
      position: relative;
      &:after,
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        bottom: 30px;
        border-bottom: 2px solid $black;
        width: 10px;
        display: block;
        @media screen and (min-width: $breakpoint) {
          bottom: 25px;
        }
      }
      &:after {
        transform: rotate(90deg);
      }
      &.open {
        &:after {
          display: none;
        }
        border-bottom: none;
      }
      .large {
        display: block;
        @media screen and (min-width: $breakpoint) {
          display: none;
        }
      }
      .date {
        @media screen and (min-width: $breakpoint) {
          margin-right: auto;
          padding-left: 0;
        }
      }
    }
    .bottom {
      padding-top: 0px;
      overflow: hidden;
      max-height: 0;
      p {
        padding-bottom: 15px;
        @media screen and (min-width: $breakpoint) {
          margin: 0;
          padding-top: 15px;
          text-align: left;
        }
      }
      .about {
        padding-top: 15px;
        @media screen and (min-width: $breakpoint) {
          float: left;
          padding-top: 0px;
        }
      }
      .large {
        display: none;
        @media screen and (min-width: $breakpoint) {
          display: block;
        }
      }
      &.open {
        max-height: none;
        border-bottom: 2px solid $black;
      }
      img {
        margin: 0 auto 15px;
        display: block;
        width: 100%;
        max-width: 400px;
        @media screen and (min-width: $breakpoint) {
          float: right;
          width: auto;
          max-height: 400px;
          padding-top: 15px;
        }
      }
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        margin-top: 55px;
        font-size: 22px;
        line-height: 33px;
      }
    }
    p.date {
      font-family: Surt Light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: right;
      display: block;
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
    p {
      font-family: Surt Light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: right;
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
  }
  .gallery {
    padding: 30px;
    padding-bottom: 55px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        margin-top: 55px;
        font-size: 22px;
        line-height: 33px;
      }
    }
    .gallery-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
      row-gap: 15px;
      @media screen and (min-width: $breakpoint) {
        grid-template-columns: repeat(5, 1fr);
      }
      a {
        display: block;
        min-height: 200px;
        position: relative;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        p {
          font-family: Surt Light;
          font-style: normal;
          font-weight: 300;
          letter-spacing: -0.01em;
          text-align: left;
          background-color: $black;
          color: $white;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
