#v0 {
  position: fixed;
  width: 100%;
  top: 0;
}

.wtn {
  .splash {
    min-height: 100vh;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 2px solid $black;
    @media screen and (max-width: $breakpoint) {
      border-bottom: none;
      grid-template-columns: 1fr;
      padding: 15px;
      padding-top: 57px;
    }
    .sawmill-bladee {
      background-image: asset_url("sawmill-bladee.svg");
      width: 19vw;
      height: 300px;
      position: absolute;
      background-repeat: no-repeat;
      top: 300px;
      right: 63.5vw;
      z-index: -1;
      background-size: contain;
    }
    .star {
      background-image: asset_url("star.svg");
      width: 19vw;
      height: 150px;
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      top: 380px;
      left: 74vw;
    }
    h1 {
      font-family: "Reckless Neue Light";
      max-width: 690px;
      font-weight: 300;
      font-size: 53px;
      line-height: 63.6px;
      letter-spacing: -0.03em;
      margin: 0;
      @media screen and (max-width: $breakpoint) {
        margin-top: 10px;
        font-size: 33px;
        line-height: 43.6px;
        letter-spacing: -0.03em;
      }
    }
    h2 {
      font-family: "Reckless Neue Light";
      max-width: 690px;
      font-weight: 300;
      font-size: 40px;
      line-height: 63.6px;
      letter-spacing: -0.03em;
      margin: auto;
      color: $black;
      text-align: center;
    }
    .arch {
      overflow: hidden;
      height: 35vw;
      width: 70vw;
      left: 14.5vw;
      border-top-left-radius: 1000000px;
      border-top-right-radius: 1000000px;
      position: absolute;
      z-index: -1;
      background: transparent;
      top: 200px;
      iframe {
        position: absolute;
        left: -10%;
      }
    }
    #background {
      width: 80%;
      position: fixed;
      margin: 0 auto;
      transform: translateX(5%);
      top: 0;
      z-index: -2;
      top: 150px;
    }
    .heading {
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 101;
      pointer-events: none;
      h1 {
        font-family: "Reckless Neue Light";
        max-width: 690px;
        font-weight: 300;
        font-size: 40px;
        line-height: 63.6px;
        letter-spacing: -0.03em;
        margin: auto;
        color: $black;
        text-align: center;
      }
    }
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
