#v0 {
  position: fixed;
  width: 100%;
  top: 0;
}

.wtn {
  .splash {
    height: calc(100vh - 85px);
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media screen and (max-width: $breakpoint) {
      height: calc(100vh);
      border-bottom: none;
      padding: 15px;
      padding-top: 57px;
      grid-template-columns: 1fr 1fr;
    }
    .sawmill-bladee {
      background-image: asset_url("sun.png");
      width: 19vw;
      height: 300px;
      position: absolute;
      background-repeat: no-repeat;
      top: 20vh;
      left: 15vw;
      z-index: -1;
      background-size: contain;
      @media screen and (max-width: $breakpoint) {
        display: none;
      }
    }
    .star {
      background-image: asset_url("flower.png");
      width: 230px;
      height: 300px;
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      bottom: 30px;
      right: calc((100vw - ((100vh - 150px) * 1.9)) / 8);
      @media screen and (max-width: $breakpoint) {
        display: none;
      }
    }

    .arch {
      overflow: hidden;
      height: calc(100vh - 150px);
      width: calc((100vh - 150px) * 1.9);
      left: calc((100vw - ((100vh - 150px) * 1.9)) / 2);
      max-width: 98%;
      border-top-left-radius: 1000000px;
      border-top-right-radius: 1000000px;
      position: absolute;
      z-index: -1;
      background: transparent;
      bottom: 30px;
      @media screen and (max-width: $breakpoint) {
        height: 63vh;
        width: calc(100vw - 45px);
        left: 15px;
        max-height: none;
        bottom: 15px;
      }
      iframe {
        position: absolute;
        left: -10%;
        @media screen and (max-width: $breakpoint) {
          left: -100%;
          width: 300%;
        }
      }
    }
    p {
      font-family: Surt Light;
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: -0.01em;
      color: $black;
      max-width: 230px;
      @media screen and (max-width: $breakpoint) {
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
      }
      &.right {
        text-align: right;
        padding: 0;
        margin: 0;
        margin-top: 90px;
        margin-left: auto;
        @media screen and (max-width: $breakpoint) {
          margin-top: 58px;
        }
      }
    }
    h1 {
      font-family: "Reckless Neue Light";
      max-width: 690px;
      font-weight: 300;
      font-size: 53px;
      line-height: 63.6px;
      letter-spacing: -0.03em;
      margin: 0;
      color: $black;
      @media screen and (max-width: $breakpoint) {
        margin-top: 10px;
        font-size: 33px;
        line-height: 43.6px;
        letter-spacing: -0.03em;
        width: 200%;
      }
    }
  }
  .main {
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint) {
      grid-template-columns: 1fr;
      padding: 15px;
    }

    .left {
      max-width: 575px;
      @media screen and (max-width: $breakpoint) {
        padding: 0px;
        max-width: none;
      }

      .large {
        @media screen and (max-width: $breakpoint) {
          display: none;
        }
      }
      .small {
        @media screen and (min-width: $breakpoint) {
          display: none;
        }
      }
      .img-sm-container {
        position: relative;
        .image {
          border-top-left-radius: 10000px;
          border-top-right-radius: 10000px;
          max-width: 250px;
          height: 350px;
          margin: auto;
          margin-top: 25px;
          margin-bottom: 30px;
          background-position: center;
          background-size: contain;
        }
        @media screen and (max-width: $breakpoint) {
          display: none;
        }
        display: none;
      }
      p {
        font-family: Surt Light;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: -0.01em;
        margin-top: 0;
        @media screen and (max-width: $breakpoint) {
          margin-top: 20px;
          font-size: 18px;
          line-height: 22px;
        }
      }
      a {
        font-family: Surt Light;
        text-decoration: none;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 33px;
        padding: 15px;
        padding-left: 0px;
        display: flex;
        color: $black;
        &:hover {
          padding-left: 30px;
        }
        @media screen and (max-width: $breakpoint) {
          font-size: 18px;
          line-height: 33px;
          padding: 9px;
          padding-left: 0px;
          &:hover {
            padding-left: 15px;
          }
        }
        .arrow {
          content: "";
          display: block;
          background-image: asset_url("arrow-big.svg");
          background-size: contain;
          cursor: pointer;
          width: 60px;
          height: 33px;
          margin-bottom: 0;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          margin-left: 10px;
          @media screen and (max-width: $breakpoint) {
            background-image: asset_url("arrow-small.svg");
            background-position: center;
            width: 33px;
            height: 33px;
          }
        }
      }
    }
    .right {
      padding-left: 30px;
      padding-right: 30px;
      .image {
        max-width: 575px;
        height: 642px;
        margin: auto;
        background-position: top right;
        background-image: asset_url("W2N_2022_poster_site.jpeg");
        background-size: contain;
        background-repeat: no-repeat;
      }
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        .image {
          background-position: center;
        }
      }
      @media screen and (min-width: $breakpoint) {
        .image {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
  .faqs {
    padding: 30px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    .toggle-accordions {
      margin-top: -55px;
      cursor: pointer;
      margin-right: 45px;
      position: relative;
      @media screen and (max-width: $breakpoint) {
        text-align: right;
        margin-bottom: 20px;
        margin-top: -50px;
      }
      &:after,
      &:before {
        content: "";
        position: absolute;
        right: -30px;
        top: 17px;
        border-bottom: 2px solid #161616;
        width: 10px;
        display: block;
        @media screen and (max-width: $breakpoint) {
          top: 10px;
        }
      }
      &:after {
        transform: rotate(90deg);
      }
      &.open {
        &:after {
          display: none;
        }
        border-bottom: none;
      }
    }
    .top {
      background: #fbe375;
      padding-left: 15px;
      cursor: pointer;
      border-bottom: 2px solid $black;
      padding-right: 45px;
      @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: flex-end;
        p {
          padding: 10px;
          margin: 0;
        }
      }
      @media screen and (max-width: $breakpoint) {
        padding: 15px 0;
        padding-right: 45px;
        padding-left: 15px;
      }
      position: relative;
      &:after,
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        top: 30px;
        border-bottom: 2px solid $black;
        width: 10px;
        display: block;
        @media screen and (min-width: $breakpoint) {
          bottom: 25px;
        }
      }
      &:after {
        transform: rotate(90deg);
      }
      &.open {
        &:after {
          display: none;
        }
      }
      .large {
        display: none;
      }
      .date {
        padding-right: 30px;
        @media screen and (min-width: $breakpoint) {
          margin-right: auto;
          padding-left: 0;
        }
      }
    }
    .bottom {
      padding-top: 0px;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
      p {
        padding-bottom: 15px;
        @media screen and (min-width: $breakpoint) {
          margin: 0;
          padding-top: 15px;
          text-align: left;
        }
      }
      .about {
        padding-top: 15px;
        @media screen and (min-width: $breakpoint) {
          padding-top: 0px;
        }
      }
      .large {
        padding-left: 15px;
        @media screen and (min-width: $breakpoint) {
          display: block;
          max-width: 900px;
        }
      }
      &.open {
        max-height: 360px;
        @media screen and (max-width: $breakpoint) {
          max-height: 630px;
        }
      }
      img {
        margin: 0 auto 15px;
        display: block;
        width: 100%;
        max-width: 400px;
        @media screen and (min-width: $breakpoint) {
          float: right;
          width: auto;
          max-height: 400px;
          padding-top: 15px;
        }
      }
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        font-size: 22px;
        line-height: 33px;
      }
    }
    p.date {
      font-family: Surt Light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: right;
      display: block;
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
    p {
      font-family: Surt Light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: right;
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
  }

  .lineup {
    padding: 30px;
    padding-bottom: 0px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        font-size: 22px;
        line-height: 33px;
      }
    }
    .gallery-w2n-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
      row-gap: 15px;

      @media screen and (min-width: $breakpoint) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (min-width: 1300px) {
        grid-template-columns: repeat(5, 1fr);
      }

      a {
        aspect-ratio: 1;
        display: block;
        min-height: 200px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-decoration: none;
        color: $black;
        margin-bottom: 100px;
        @media screen and (max-width: $breakpoint) {
          min-height: auto;
        }
        .text-container {
          position: absolute;
          bottom: -95px;
          h4 {
            font-family: Surt Light;
            margin: 0;
            padding: 10px 0;
          }
          p {
            font-family: Surt Light;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -0.01em;
            text-align: left;
            padding: 5px;
            font-size: 14px;
            margin: 0;
            padding-left: 0;
          }
        }
      }
    }
  }

  .gallery {
    padding: 30px;
    padding-bottom: 55px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        font-size: 22px;
        line-height: 33px;
      }
    }
    .gallery-w2n-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
      row-gap: 15px;

      @media screen and (min-width: $breakpoint) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (min-width: 1300px) {
        grid-template-columns: repeat(5, 1fr);
      }
      a {
        aspect-ratio: 1;
        display: block;
        min-height: 200px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (max-width: $breakpoint) {
          min-height: auto;
        }
        p {
          font-family: Surt Light;
          font-style: normal;
          font-weight: 300;
          letter-spacing: -0.01em;
          text-align: left;
          background-color: $black;
          color: $white;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
