<div class="eyegum wednesdays about-us">
  <div class="splash" style="background-color: <%= @background_colour %>;">
    <div class="left">
      <h1>
        About us
      </h1>
      <p>
        <br />
        Eyegum Music Collective organises indie music events which are run by a small group of music enthusiasts in
        Pōneke.
        <br />
        <br />
        Eyegum Music Collective started putting on house parties in 2013 during the Pōneke music venue draught.
        <br />
        <br />
        Most weekends Eyegum would host an array of indie music gigs in flats across the burbs which became notorious
        across the Motu.
        Since then, Eyegum has expanded significantly with a weekly residency at San Fran.
        <br />
        <br />
        Eyegum Wednesdays is a free event held most Wednesday’s at San Fran which hosts some of the best up-and-coming
        independent acts across Aotearoa.
        In 2017 Eyegum launched Welcome to Nowhere (formerly known as Gathering in the Forest) which is a two-day indie
        festival showcasing some of the best local music, art, poetry and comedy.
        <br />
        <br />
        Now an integral fixture within the local alternative music and creative scene, Eyegum strives to put on exciting
        events for audiences throughout Aotearoa.
      </p>
    </div>
    <div class="right">
      <div class="hand"></div>
    </div>
  </div>
</div>