<div class="eyegum frontpage">
  <div class="splash" style="background-color: <%= @background_colour %>;">
    <h1>
      <%= @blurb %>
    </h1>
    <div class="hand"></div>
  </div>
  <div class="news" style="background-color: <%= @background_colour %>;">
    <% @latest_news.each do |news_item| %>
      <%= render partial: 'eyegum/news_item' , locals: { news_item: news_item } %>
        <% end %>
  </div>
</div>
<script>
  if (document.getElementsByClassName("hand").length) {
    if (interval) {
      clearInterval(interval);
    }

    var interval = setInterval(() => {
      document.getElementsByClassName("hand")[0].classList.toggle("alt");
    }, 3000);
  }
</script>