<div class="eyegum wednesdays about-us">
  <div class="splash" style="background-color: <%= @background_colour %>;">
    <div class="left">
      <h1>
        There are no other events on at the moment, check back soon!
      </h1>
    </div>
  </div>
</div>