$black: #161616;

body {
  min-height: 100vh;
}

.show-artists {
  padding: 15px;
  min-height: 70vh;
  flex-direction: column;
  padding-top: 70px;
  @media screen and (min-width: $breakpoint) {
    padding: 30px;
    flex-direction: row;
  }

  .img-container {
    max-width: 500px;
    flex-shrink: 0;
    @media screen and (min-width: $breakpoint) {
      width: 500px;
    }
    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding-left: 0;
  }
  .text-container {
    padding: 50px;
    padding-top: 15px;
    padding-left: 00px;
    @media screen and (min-width: $breakpoint) {
      padding-left: 50px;
      padding-top: 0px;
      max-width: 750px;
    }
    * {
      padding: 10px 0;
    }
    h3 {
      font-family: Reckless Neue Light;
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.03em;
      margin-top: 0;
      color: $black;
      padding-top: 0;
    }
    p,
    a {
      color: $black;
      font-family: Surt Light;
      line-height: 1.5;
    }
  }
}

.container {
  width: 80%;
  margin: 0 auto;

  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }

  // @media screen and (min-width: 1550px) {
  //   grid-template-columns: repeat(7, minmax(50px, 1fr));
  // }
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
  display: grid;
  padding: 10px;
  a {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
  }
  .card {
    transition: all 0.1s ease-out;
    transform: translate(0px, 0px);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
    }
    .img-container {
      height: 200px;
      overflow: hidden;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .text-container {
      h3 {
        min-height: 42px;
        font-size: 24px;
        margin-bottom: 0;

        font-family: "Reckless Neue Light";
      }
      p:first-of-type {
        margin: 0;
      }
      p {
        text-decoration: none;
        font-family: "Surt Light";
      }
      p:last-of-type {
        margin-top: 10px;
      }
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}
