.texture {
  width: 100%;
  min-height: 100vh;
  background-image: asset_url("NOISE.webp");
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  pointer-events: none;
  mix-blend-mode: normal;
  background-repeat: repeat-y;
}

.slbCaption {
  font-family: "Surt Light";
  font-size: 21px;
}

.eyegum {
  &.frontpage {
    display: grid;
    min-height: calc(100vh - 85px);
    grid-template-rows: 1fr;
  }
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1; // hide images
    content: asset_url("EYE001_illustration1_v2")
      asset_url("homepg_illustration_2") asset_url("logotype.svg")
      asset_url("menu_circle.svg") asset_url("menu_circle_HOVER.svg");
  }
  .splash {
    padding: 30px;
    display: grid;
    min-height: 380px;
    grid-template-columns: 2fr 1fr;
    border-bottom: 2px solid $black;
    @media screen and (max-width: $breakpoint) {
      border-bottom: none;
      grid-template-columns: 1fr;
      padding: 15px;
      padding-top: 57px;
    }
    h1 {
      font-family: "Reckless Neue Light";
      max-width: 690px;
      font-weight: 300;
      font-size: 53px;
      line-height: 63.6px;
      letter-spacing: -0.03em;
      margin: 0;
      height: 300px;
      @media screen and (max-width: $breakpoint) {
        margin-top: 10px;
        font-size: 33px;
        line-height: 43.6px;
        letter-spacing: -0.03em;
        height: auto;
      }
    }
    .hand {
      background-image: asset_url("EYE001_illustration1_v2");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 500px;
      height: 340px;
      width: 100%;
      &.alt {
        background-image: asset_url("homepg_illustration_2");
      }
      @media screen and (max-width: $breakpoint) {
        max-width: 238px;
        height: 228px;
        background-position: center;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
    * {
      color: $black;
    }
  }

  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint) {
      grid-template-columns: 1fr;
    }
    .news-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      .top {
        border-bottom: 2px solid $black;
        padding: 15px 30px;
        @media screen and (max-width: $breakpoint) {
          border-bottom: 2px solid $black;
          border-top: 2px solid $black;
          padding: 15px;
        }
        h2 {
          width: 100%;
          font-size: 18px;
          font-family: "Surt Light";
          margin: 0;
          text-transform: uppercase;
          letter-spacing: -0.03em;
        }
      }
      .bottom {
        padding: 30px;
        display: flex;
        justify-content: flex-start;
        min-height: 300px;
        height: 100%;
        @media screen and (max-width: $breakpoint) {
          padding: 15px;
        }
        .image {
          border-top-left-radius: 1000px;
          border-top-right-radius: 1000px;
          width: 168px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        a {
          color: $black;
          margin-top: 1.5rem;
          display: inline-block;
        }
        p {
          margin: 0;
          margin-left: 31px;
          margin-right: 10px;
          font-family: "Surt Light";
          font-size: 21px;
          flex: 1;
          font-style: normal;
          font-weight: 300;
          line-height: 25px;
          letter-spacing: -0.01em;
          text-align: left;
          max-width: 400px;
          @media screen and (max-width: $breakpoint) {
            font-size: 18px;
            line-height: 22px;
            text-align: left;
          }
        }
      }
      &:first-of-type {
        border-right: 2px solid $black;
        @media screen and (max-width: $breakpoint) {
          border-right: none;
        }
      }
    }
  }
}

.about-us .splash {
  .left {
    max-width: none;
    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
